* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: #111;
}
input[type="radio"] {
  position: relative;
  width: 220px;
  height: 70px;
  margin: 10px;
  outline: none;
  -webkit-appearance: none;
  cursor: pointer;
  border-radius: 40px;
  box-shadow: -5px -5px 20px rgba(255, 255, 255, 0.1),
    5px 5px 10px rgba(0, 0, 0, 1), inset -2px -2px 5px rgba(255, 255, 255, 0.1),
    inset 2px 2px 5px rgba(0, 0, 0, 0.5), 0 0 0 2px #1f1f1f;
  transition: 0.5s;
}
input[type="radio"]:checked {
  background-color: #f5c982;
}
input[type="radio"]:checked {
  background-color: #f5c982;
}

input[type="radio"]::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 145px;
  height: 70px;
  background: linear-gradient(to top, #000, #555);
  border-radius: 40px;
  box-shadow: 0 0 0 1px #232323;
  transform: scale(0.98, 0.96);
  transition: 0.5s;
}

input[type="radio"]:checked:before {
  left: 80px;
}

input[type="radio"]::after {
  content: "";
  position: absolute;
  left: 108px;
  top: calc(50% - 4px);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #555;
  transition: 0.5s;
}

input[type="radio"]:checked:after {
  left: calc(108px + 80px);
  background-color: #f5c982;
  box-shadow: 0 0 5px #f5c982, 0 0 15px #f5c982, 0 0 30px #f5c982;
}
